@import 'styles.css';

/*.banner{
    background-image: url("../assets/banner.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
}*/
.nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.nav_div{
    display: grid;
    justify-content: space-between;
    justify-items: center;
}
.img{
    width: 70%;
    height: auto;
    border-radius: 50%;
}
h2{
    font-size: 3rem;
    font-weight: 900;
}
.palabra{
    font-size: 2rem;
    background-color: grey;
    padding: 2rem 4rem;
    border-radius: 2rem;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #001F54;
    color: white;
    font-size: 2rem;
}
.aling_footer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: end;
}