@import 'normalize.css';
@import './header.css';
@import './login.css';

body{
    max-width: 100%;
    max-height: 100%;
    
}
@import 'elements.css';
@import 'banner.css';
@import 'animations.css';
@import 'creator.css';

*, *:before, *:after {
    box-sizing: inherit;
}
.container{
    max-width: 120rem;
    margin: 0 auto;
}
