@import 'normalize.css';
@import './header.css';
@import './login.css';
@import 'elements.css';
@import 'banner.css';
@import 'animations.css';
@import 'creator.css';


body{
    max-width: 100%;
    max-height: 100%;
    
}

.footer{
    background-color: rgb(0, 12, 34);
    font-size: 1.7rem;
}
.tiembla:hover{
    
        -webkit-animation: tiembla 0.5s infinite;
      
      @-webkit-keyframes tiembla{
        0%  { -webkit-transform:rotateZ(-5deg); }
        50% { -webkit-transform:rotateZ( 0deg) scale(.8); }
        100%{ -webkit-transform:rotateZ( 5deg); }
      }
}
